<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Produtos</title>
</head>
<body>
    <h1>Lista Produtos</h1>
    <ul>
        <% listarProdutos.forEach(produto => { %> 
        <li> <%= produto.nome+' - preço: '+ produto.preco %> 
        <form action="/produtos/deletar/<%= produto.id%>?_method=DELETE " method="post">
            <button type="submit">Deletar</button>
        </form>
        </li>
        <% }) %>
    </ul>
    
</body>
</html>