<!DOCTYPE html>
<html>
  <head>
    <title>Contato</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Contato</h1>
    <p>Bem Vindo</p>
    <img src="images/contato.jpg" alt="">
  </body>
</html>
