<!DOCTYPE html>
<html>
  <head>
    <title>Estudante</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Estudante</h1>
    <p>Bem Vindo caro Aluno</p>
    <hr>
    <%

        const estudantes = [
            {nome: 'thiago', curso:'Full Stack'},
            {nome: 'Pedro', curso:'Full Stack'}
        ];
    %>
    <ul>
      <% for(const estudante of estudantes) { %>
        <li> <%= estudante.nome %> </li>
      <% } %>  
    </ul>
    
  </body>
</html>
